.container,
.row,
.row-padded,
[class*='block-grid-'] {
  *zoom: 1;
}

.container::before,
.row::before,
.row-padded::before,
[class*='block-grid-']::before, .container::after,
.row::after,
.row-padded::after,
[class*='block-grid-']::after {
  content: '';
  display: table;
}

.container::after,
.row::after,
.row-padded::after,
[class*='block-grid-']::after {
  clear: both;
}

@media only screen and (min-width: 320px) {
  .responsive.container,
  .responsive .container {
    width: 304px;
  }
}

@media only screen and (min-width: 480px) {
  .responsive.container,
  .responsive .container {
    width: 464px;
  }
}

@media only screen and (min-width: 768px) {
  .responsive.container,
  .responsive .container {
    width: 750px;
  }
}

@media only screen and (min-width: 992px) {
  .responsive.container,
  .responsive .container {
    width: 970px;
  }
}

@media only screen and (min-width: 1200px) {
  .responsive.container,
  .responsive .container {
    width: 1170px;
  }
}

.container,
.container::before,
.container::after,
.row,
.row::before,
.row::after,
.row-padded,
.row-padded::before,
.row-padded::after,
[class*='col-'],
[class*='col-']::before,
[class*='col-']::after,
[class*='block-grid-'],
[class*='block-grid-']::before,
[class*='block-grid-']::after,
[class*='block-grid-'] > li,
[class*='block-grid-'] > li::before,
[class*='block-grid-'] > li::after,
[class*='block-grid-'] > .block-item,
[class*='block-grid-'] > .block-item::before,
[class*='block-grid-'] > .block-item::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img:not(.oversized) {
  width: auto;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding: 0 1em;
  margin: 0 auto;
}

.row,
.row-padded,
[class*='block-grid-'] {
  margin-right: -1em;
  margin-left: -1em;
}

[class*='col-'],
[class*='block-grid-'] > li,
[class*='block-grid-'] > .block-item {
  position: relative;
  float: left;
  padding: 0 1em;
  width: 100%;
  min-height: 1px;
}

.row-padded [class*='col-'], .row-padded
[class*='block-grid-'] > li, .row-padded
[class*='block-grid-'] > .block-item {
  padding: 1em;
}

[class*='block-grid-'] > li,
[class*='block-grid-'] > .block-item {
  padding: 0 1em 1em;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

.push-1 {
  left: 8.33333%;
}

.push-2 {
  left: 16.66667%;
}

.push-3 {
  left: 25%;
}

.push-4 {
  left: 33.33333%;
}

.push-5 {
  left: 41.66667%;
}

.push-6 {
  left: 50%;
}

.push-7 {
  left: 58.33333%;
}

.push-8 {
  left: 66.66667%;
}

.push-9 {
  left: 75%;
}

.push-10 {
  left: 83.33333%;
}

.push-11 {
  left: 91.66667%;
}

.push-12 {
  left: 100%;
}

.pull-1 {
  right: 8.33333%;
}

.pull-2 {
  right: 16.66667%;
}

.pull-3 {
  right: 25%;
}

.pull-4 {
  right: 33.33333%;
}

.pull-5 {
  right: 41.66667%;
}

.pull-6 {
  right: 50%;
}

.pull-7 {
  right: 58.33333%;
}

.pull-8 {
  right: 66.66667%;
}

.pull-9 {
  right: 75%;
}

.pull-10 {
  right: 83.33333%;
}

.pull-11 {
  right: 91.66667%;
}

.pull-12 {
  right: 100%;
}

.offset-1 {
  margin-left: 8.33333%;
}

.offset-2 {
  margin-left: 16.66667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.33333%;
}

.offset-5 {
  margin-left: 41.66667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.33333%;
}

.offset-8 {
  margin-left: 66.66667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.33333%;
}

.offset-11 {
  margin-left: 91.66667%;
}

.offset-12 {
  margin-left: 100%;
}

.offset-0 {
  margin-left: 0;
}

.block-grid-1 > li,
.block-grid-1 > .block-item {
  width: 100%;
  list-style: none;
  clear: none;
}

.block-grid-1 > li:nth-child(1n + 1),
.block-grid-1 > .block-item:nth-child(1n + 1) {
  clear: both;
}

.block-grid-2 > li,
.block-grid-2 > .block-item {
  width: 50%;
  list-style: none;
  clear: none;
}

.block-grid-2 > li:nth-child(2n + 1),
.block-grid-2 > .block-item:nth-child(2n + 1) {
  clear: both;
}

.block-grid-3 > li,
.block-grid-3 > .block-item {
  width: 33.33333%;
  list-style: none;
  clear: none;
}

.block-grid-3 > li:nth-child(3n + 1),
.block-grid-3 > .block-item:nth-child(3n + 1) {
  clear: both;
}

.block-grid-4 > li,
.block-grid-4 > .block-item {
  width: 25%;
  list-style: none;
  clear: none;
}

.block-grid-4 > li:nth-child(4n + 1),
.block-grid-4 > .block-item:nth-child(4n + 1) {
  clear: both;
}

.block-grid-5 > li,
.block-grid-5 > .block-item {
  width: 20%;
  list-style: none;
  clear: none;
}

.block-grid-5 > li:nth-child(5n + 1),
.block-grid-5 > .block-item:nth-child(5n + 1) {
  clear: both;
}

.block-grid-6 > li,
.block-grid-6 > .block-item {
  width: 16.66667%;
  list-style: none;
  clear: none;
}

.block-grid-6 > li:nth-child(6n + 1),
.block-grid-6 > .block-item:nth-child(6n + 1) {
  clear: both;
}

.block-grid-7 > li,
.block-grid-7 > .block-item {
  width: 14.28571%;
  list-style: none;
  clear: none;
}

.block-grid-7 > li:nth-child(7n + 1),
.block-grid-7 > .block-item:nth-child(7n + 1) {
  clear: both;
}

.block-grid-8 > li,
.block-grid-8 > .block-item {
  width: 12.5%;
  list-style: none;
  clear: none;
}

.block-grid-8 > li:nth-child(8n + 1),
.block-grid-8 > .block-item:nth-child(8n + 1) {
  clear: both;
}

.block-grid-9 > li,
.block-grid-9 > .block-item {
  width: 11.11111%;
  list-style: none;
  clear: none;
}

.block-grid-9 > li:nth-child(9n + 1),
.block-grid-9 > .block-item:nth-child(9n + 1) {
  clear: both;
}

.block-grid-10 > li,
.block-grid-10 > .block-item {
  width: 10%;
  list-style: none;
  clear: none;
}

.block-grid-10 > li:nth-child(10n + 1),
.block-grid-10 > .block-item:nth-child(10n + 1) {
  clear: both;
}

.block-grid-11 > li,
.block-grid-11 > .block-item {
  width: 9.09091%;
  list-style: none;
  clear: none;
}

.block-grid-11 > li:nth-child(11n + 1),
.block-grid-11 > .block-item:nth-child(11n + 1) {
  clear: both;
}

.block-grid-12 > li,
.block-grid-12 > .block-item {
  width: 8.33333%;
  list-style: none;
  clear: none;
}

.block-grid-12 > li:nth-child(12n + 1),
.block-grid-12 > .block-item:nth-child(12n + 1) {
  clear: both;
}

@media only screen and (min-width: 480px) {
  .col-xs-1 {
    width: 8.33333%;
  }
  .col-xs-2 {
    width: 16.66667%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.33333%;
  }
  .col-xs-5 {
    width: 41.66667%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.33333%;
  }
  .col-xs-8 {
    width: 66.66667%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.33333%;
  }
  .col-xs-11 {
    width: 91.66667%;
  }
  .col-xs-12 {
    width: 100%;
  }
  .push-xs-1 {
    left: 8.33333%;
  }
  .push-xs-2 {
    left: 16.66667%;
  }
  .push-xs-3 {
    left: 25%;
  }
  .push-xs-4 {
    left: 33.33333%;
  }
  .push-xs-5 {
    left: 41.66667%;
  }
  .push-xs-6 {
    left: 50%;
  }
  .push-xs-7 {
    left: 58.33333%;
  }
  .push-xs-8 {
    left: 66.66667%;
  }
  .push-xs-9 {
    left: 75%;
  }
  .push-xs-10 {
    left: 83.33333%;
  }
  .push-xs-11 {
    left: 91.66667%;
  }
  .push-xs-12 {
    left: 100%;
  }
  .pull-xs-1 {
    right: 8.33333%;
  }
  .pull-xs-2 {
    right: 16.66667%;
  }
  .pull-xs-3 {
    right: 25%;
  }
  .pull-xs-4 {
    right: 33.33333%;
  }
  .pull-xs-5 {
    right: 41.66667%;
  }
  .pull-xs-6 {
    right: 50%;
  }
  .pull-xs-7 {
    right: 58.33333%;
  }
  .pull-xs-8 {
    right: 66.66667%;
  }
  .pull-xs-9 {
    right: 75%;
  }
  .pull-xs-10 {
    right: 83.33333%;
  }
  .pull-xs-11 {
    right: 91.66667%;
  }
  .pull-xs-12 {
    right: 100%;
  }
  .offset-xs-1 {
    margin-left: 8.33333%;
  }
  .offset-xs-2 {
    margin-left: 16.66667%;
  }
  .offset-xs-3 {
    margin-left: 25%;
  }
  .offset-xs-4 {
    margin-left: 33.33333%;
  }
  .offset-xs-5 {
    margin-left: 41.66667%;
  }
  .offset-xs-6 {
    margin-left: 50%;
  }
  .offset-xs-7 {
    margin-left: 58.33333%;
  }
  .offset-xs-8 {
    margin-left: 66.66667%;
  }
  .offset-xs-9 {
    margin-left: 75%;
  }
  .offset-xs-10 {
    margin-left: 83.33333%;
  }
  .offset-xs-11 {
    margin-left: 91.66667%;
  }
  .offset-xs-12 {
    margin-left: 100%;
  }
  .offset-xs-0 {
    margin-left: 0;
  }
  .block-grid-xs-1 > li,
  .block-grid-xs-1 > .block-item {
    width: 100%;
    list-style: none;
    clear: none;
  }
  .block-grid-xs-1 > li:nth-child(1n + 1),
  .block-grid-xs-1 > .block-item:nth-child(1n + 1) {
    clear: both;
  }
  .block-grid-xs-2 > li,
  .block-grid-xs-2 > .block-item {
    width: 50%;
    list-style: none;
    clear: none;
  }
  .block-grid-xs-2 > li:nth-child(2n + 1),
  .block-grid-xs-2 > .block-item:nth-child(2n + 1) {
    clear: both;
  }
  .block-grid-xs-3 > li,
  .block-grid-xs-3 > .block-item {
    width: 33.33333%;
    list-style: none;
    clear: none;
  }
  .block-grid-xs-3 > li:nth-child(3n + 1),
  .block-grid-xs-3 > .block-item:nth-child(3n + 1) {
    clear: both;
  }
  .block-grid-xs-4 > li,
  .block-grid-xs-4 > .block-item {
    width: 25%;
    list-style: none;
    clear: none;
  }
  .block-grid-xs-4 > li:nth-child(4n + 1),
  .block-grid-xs-4 > .block-item:nth-child(4n + 1) {
    clear: both;
  }
  .block-grid-xs-5 > li,
  .block-grid-xs-5 > .block-item {
    width: 20%;
    list-style: none;
    clear: none;
  }
  .block-grid-xs-5 > li:nth-child(5n + 1),
  .block-grid-xs-5 > .block-item:nth-child(5n + 1) {
    clear: both;
  }
  .block-grid-xs-6 > li,
  .block-grid-xs-6 > .block-item {
    width: 16.66667%;
    list-style: none;
    clear: none;
  }
  .block-grid-xs-6 > li:nth-child(6n + 1),
  .block-grid-xs-6 > .block-item:nth-child(6n + 1) {
    clear: both;
  }
  .block-grid-xs-7 > li,
  .block-grid-xs-7 > .block-item {
    width: 14.28571%;
    list-style: none;
    clear: none;
  }
  .block-grid-xs-7 > li:nth-child(7n + 1),
  .block-grid-xs-7 > .block-item:nth-child(7n + 1) {
    clear: both;
  }
  .block-grid-xs-8 > li,
  .block-grid-xs-8 > .block-item {
    width: 12.5%;
    list-style: none;
    clear: none;
  }
  .block-grid-xs-8 > li:nth-child(8n + 1),
  .block-grid-xs-8 > .block-item:nth-child(8n + 1) {
    clear: both;
  }
  .block-grid-xs-9 > li,
  .block-grid-xs-9 > .block-item {
    width: 11.11111%;
    list-style: none;
    clear: none;
  }
  .block-grid-xs-9 > li:nth-child(9n + 1),
  .block-grid-xs-9 > .block-item:nth-child(9n + 1) {
    clear: both;
  }
  .block-grid-xs-10 > li,
  .block-grid-xs-10 > .block-item {
    width: 10%;
    list-style: none;
    clear: none;
  }
  .block-grid-xs-10 > li:nth-child(10n + 1),
  .block-grid-xs-10 > .block-item:nth-child(10n + 1) {
    clear: both;
  }
  .block-grid-xs-11 > li,
  .block-grid-xs-11 > .block-item {
    width: 9.09091%;
    list-style: none;
    clear: none;
  }
  .block-grid-xs-11 > li:nth-child(11n + 1),
  .block-grid-xs-11 > .block-item:nth-child(11n + 1) {
    clear: both;
  }
  .block-grid-xs-12 > li,
  .block-grid-xs-12 > .block-item {
    width: 8.33333%;
    list-style: none;
    clear: none;
  }
  .block-grid-xs-12 > li:nth-child(12n + 1),
  .block-grid-xs-12 > .block-item:nth-child(12n + 1) {
    clear: both;
  }
}

@media only screen and (min-width: 768px) {
  .col-sm-1 {
    width: 8.33333%;
  }
  .col-sm-2 {
    width: 16.66667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-5 {
    width: 41.66667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333%;
  }
  .col-sm-8 {
    width: 66.66667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333%;
  }
  .col-sm-11 {
    width: 91.66667%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .push-sm-1 {
    left: 8.33333%;
  }
  .push-sm-2 {
    left: 16.66667%;
  }
  .push-sm-3 {
    left: 25%;
  }
  .push-sm-4 {
    left: 33.33333%;
  }
  .push-sm-5 {
    left: 41.66667%;
  }
  .push-sm-6 {
    left: 50%;
  }
  .push-sm-7 {
    left: 58.33333%;
  }
  .push-sm-8 {
    left: 66.66667%;
  }
  .push-sm-9 {
    left: 75%;
  }
  .push-sm-10 {
    left: 83.33333%;
  }
  .push-sm-11 {
    left: 91.66667%;
  }
  .push-sm-12 {
    left: 100%;
  }
  .pull-sm-1 {
    right: 8.33333%;
  }
  .pull-sm-2 {
    right: 16.66667%;
  }
  .pull-sm-3 {
    right: 25%;
  }
  .pull-sm-4 {
    right: 33.33333%;
  }
  .pull-sm-5 {
    right: 41.66667%;
  }
  .pull-sm-6 {
    right: 50%;
  }
  .pull-sm-7 {
    right: 58.33333%;
  }
  .pull-sm-8 {
    right: 66.66667%;
  }
  .pull-sm-9 {
    right: 75%;
  }
  .pull-sm-10 {
    right: 83.33333%;
  }
  .pull-sm-11 {
    right: 91.66667%;
  }
  .pull-sm-12 {
    right: 100%;
  }
  .offset-sm-1 {
    margin-left: 8.33333%;
  }
  .offset-sm-2 {
    margin-left: 16.66667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.33333%;
  }
  .offset-sm-5 {
    margin-left: 41.66667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.33333%;
  }
  .offset-sm-8 {
    margin-left: 66.66667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.33333%;
  }
  .offset-sm-11 {
    margin-left: 91.66667%;
  }
  .offset-sm-12 {
    margin-left: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .block-grid-sm-1 > li,
  .block-grid-sm-1 > .block-item {
    width: 100%;
    list-style: none;
    clear: none;
  }
  .block-grid-sm-1 > li:nth-child(1n + 1),
  .block-grid-sm-1 > .block-item:nth-child(1n + 1) {
    clear: both;
  }
  .block-grid-sm-2 > li,
  .block-grid-sm-2 > .block-item {
    width: 50%;
    list-style: none;
    clear: none;
  }
  .block-grid-sm-2 > li:nth-child(2n + 1),
  .block-grid-sm-2 > .block-item:nth-child(2n + 1) {
    clear: both;
  }
  .block-grid-sm-3 > li,
  .block-grid-sm-3 > .block-item {
    width: 33.33333%;
    list-style: none;
    clear: none;
  }
  .block-grid-sm-3 > li:nth-child(3n + 1),
  .block-grid-sm-3 > .block-item:nth-child(3n + 1) {
    clear: both;
  }
  .block-grid-sm-4 > li,
  .block-grid-sm-4 > .block-item {
    width: 25%;
    list-style: none;
    clear: none;
  }
  .block-grid-sm-4 > li:nth-child(4n + 1),
  .block-grid-sm-4 > .block-item:nth-child(4n + 1) {
    clear: both;
  }
  .block-grid-sm-5 > li,
  .block-grid-sm-5 > .block-item {
    width: 20%;
    list-style: none;
    clear: none;
  }
  .block-grid-sm-5 > li:nth-child(5n + 1),
  .block-grid-sm-5 > .block-item:nth-child(5n + 1) {
    clear: both;
  }
  .block-grid-sm-6 > li,
  .block-grid-sm-6 > .block-item {
    width: 16.66667%;
    list-style: none;
    clear: none;
  }
  .block-grid-sm-6 > li:nth-child(6n + 1),
  .block-grid-sm-6 > .block-item:nth-child(6n + 1) {
    clear: both;
  }
  .block-grid-sm-7 > li,
  .block-grid-sm-7 > .block-item {
    width: 14.28571%;
    list-style: none;
    clear: none;
  }
  .block-grid-sm-7 > li:nth-child(7n + 1),
  .block-grid-sm-7 > .block-item:nth-child(7n + 1) {
    clear: both;
  }
  .block-grid-sm-8 > li,
  .block-grid-sm-8 > .block-item {
    width: 12.5%;
    list-style: none;
    clear: none;
  }
  .block-grid-sm-8 > li:nth-child(8n + 1),
  .block-grid-sm-8 > .block-item:nth-child(8n + 1) {
    clear: both;
  }
  .block-grid-sm-9 > li,
  .block-grid-sm-9 > .block-item {
    width: 11.11111%;
    list-style: none;
    clear: none;
  }
  .block-grid-sm-9 > li:nth-child(9n + 1),
  .block-grid-sm-9 > .block-item:nth-child(9n + 1) {
    clear: both;
  }
  .block-grid-sm-10 > li,
  .block-grid-sm-10 > .block-item {
    width: 10%;
    list-style: none;
    clear: none;
  }
  .block-grid-sm-10 > li:nth-child(10n + 1),
  .block-grid-sm-10 > .block-item:nth-child(10n + 1) {
    clear: both;
  }
  .block-grid-sm-11 > li,
  .block-grid-sm-11 > .block-item {
    width: 9.09091%;
    list-style: none;
    clear: none;
  }
  .block-grid-sm-11 > li:nth-child(11n + 1),
  .block-grid-sm-11 > .block-item:nth-child(11n + 1) {
    clear: both;
  }
  .block-grid-sm-12 > li,
  .block-grid-sm-12 > .block-item {
    width: 8.33333%;
    list-style: none;
    clear: none;
  }
  .block-grid-sm-12 > li:nth-child(12n + 1),
  .block-grid-sm-12 > .block-item:nth-child(12n + 1) {
    clear: both;
  }
}

@media only screen and (min-width: 992px) {
  .col-md-1 {
    width: 8.33333%;
  }
  .col-md-2 {
    width: 16.66667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-5 {
    width: 41.66667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333%;
  }
  .col-md-8 {
    width: 66.66667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333%;
  }
  .col-md-11 {
    width: 91.66667%;
  }
  .col-md-12 {
    width: 100%;
  }
  .push-md-1 {
    left: 8.33333%;
  }
  .push-md-2 {
    left: 16.66667%;
  }
  .push-md-3 {
    left: 25%;
  }
  .push-md-4 {
    left: 33.33333%;
  }
  .push-md-5 {
    left: 41.66667%;
  }
  .push-md-6 {
    left: 50%;
  }
  .push-md-7 {
    left: 58.33333%;
  }
  .push-md-8 {
    left: 66.66667%;
  }
  .push-md-9 {
    left: 75%;
  }
  .push-md-10 {
    left: 83.33333%;
  }
  .push-md-11 {
    left: 91.66667%;
  }
  .push-md-12 {
    left: 100%;
  }
  .pull-md-1 {
    right: 8.33333%;
  }
  .pull-md-2 {
    right: 16.66667%;
  }
  .pull-md-3 {
    right: 25%;
  }
  .pull-md-4 {
    right: 33.33333%;
  }
  .pull-md-5 {
    right: 41.66667%;
  }
  .pull-md-6 {
    right: 50%;
  }
  .pull-md-7 {
    right: 58.33333%;
  }
  .pull-md-8 {
    right: 66.66667%;
  }
  .pull-md-9 {
    right: 75%;
  }
  .pull-md-10 {
    right: 83.33333%;
  }
  .pull-md-11 {
    right: 91.66667%;
  }
  .pull-md-12 {
    right: 100%;
  }
  .offset-md-1 {
    margin-left: 8.33333%;
  }
  .offset-md-2 {
    margin-left: 16.66667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.33333%;
  }
  .offset-md-5 {
    margin-left: 41.66667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.33333%;
  }
  .offset-md-8 {
    margin-left: 66.66667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.33333%;
  }
  .offset-md-11 {
    margin-left: 91.66667%;
  }
  .offset-md-12 {
    margin-left: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .block-grid-md-1 > li,
  .block-grid-md-1 > .block-item {
    width: 100%;
    list-style: none;
    clear: none;
  }
  .block-grid-md-1 > li:nth-child(1n + 1),
  .block-grid-md-1 > .block-item:nth-child(1n + 1) {
    clear: both;
  }
  .block-grid-md-2 > li,
  .block-grid-md-2 > .block-item {
    width: 50%;
    list-style: none;
    clear: none;
  }
  .block-grid-md-2 > li:nth-child(2n + 1),
  .block-grid-md-2 > .block-item:nth-child(2n + 1) {
    clear: both;
  }
  .block-grid-md-3 > li,
  .block-grid-md-3 > .block-item {
    width: 33.33333%;
    list-style: none;
    clear: none;
  }
  .block-grid-md-3 > li:nth-child(3n + 1),
  .block-grid-md-3 > .block-item:nth-child(3n + 1) {
    clear: both;
  }
  .block-grid-md-4 > li,
  .block-grid-md-4 > .block-item {
    width: 25%;
    list-style: none;
    clear: none;
  }
  .block-grid-md-4 > li:nth-child(4n + 1),
  .block-grid-md-4 > .block-item:nth-child(4n + 1) {
    clear: both;
  }
  .block-grid-md-5 > li,
  .block-grid-md-5 > .block-item {
    width: 20%;
    list-style: none;
    clear: none;
  }
  .block-grid-md-5 > li:nth-child(5n + 1),
  .block-grid-md-5 > .block-item:nth-child(5n + 1) {
    clear: both;
  }
  .block-grid-md-6 > li,
  .block-grid-md-6 > .block-item {
    width: 16.66667%;
    list-style: none;
    clear: none;
  }
  .block-grid-md-6 > li:nth-child(6n + 1),
  .block-grid-md-6 > .block-item:nth-child(6n + 1) {
    clear: both;
  }
  .block-grid-md-7 > li,
  .block-grid-md-7 > .block-item {
    width: 14.28571%;
    list-style: none;
    clear: none;
  }
  .block-grid-md-7 > li:nth-child(7n + 1),
  .block-grid-md-7 > .block-item:nth-child(7n + 1) {
    clear: both;
  }
  .block-grid-md-8 > li,
  .block-grid-md-8 > .block-item {
    width: 12.5%;
    list-style: none;
    clear: none;
  }
  .block-grid-md-8 > li:nth-child(8n + 1),
  .block-grid-md-8 > .block-item:nth-child(8n + 1) {
    clear: both;
  }
  .block-grid-md-9 > li,
  .block-grid-md-9 > .block-item {
    width: 11.11111%;
    list-style: none;
    clear: none;
  }
  .block-grid-md-9 > li:nth-child(9n + 1),
  .block-grid-md-9 > .block-item:nth-child(9n + 1) {
    clear: both;
  }
  .block-grid-md-10 > li,
  .block-grid-md-10 > .block-item {
    width: 10%;
    list-style: none;
    clear: none;
  }
  .block-grid-md-10 > li:nth-child(10n + 1),
  .block-grid-md-10 > .block-item:nth-child(10n + 1) {
    clear: both;
  }
  .block-grid-md-11 > li,
  .block-grid-md-11 > .block-item {
    width: 9.09091%;
    list-style: none;
    clear: none;
  }
  .block-grid-md-11 > li:nth-child(11n + 1),
  .block-grid-md-11 > .block-item:nth-child(11n + 1) {
    clear: both;
  }
  .block-grid-md-12 > li,
  .block-grid-md-12 > .block-item {
    width: 8.33333%;
    list-style: none;
    clear: none;
  }
  .block-grid-md-12 > li:nth-child(12n + 1),
  .block-grid-md-12 > .block-item:nth-child(12n + 1) {
    clear: both;
  }
}

@media only screen and (min-width: 1200px) {
  .col-lg-1 {
    width: 8.33333%;
  }
  .col-lg-2 {
    width: 16.66667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333%;
  }
  .col-lg-5 {
    width: 41.66667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33333%;
  }
  .col-lg-8 {
    width: 66.66667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333%;
  }
  .col-lg-11 {
    width: 91.66667%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .push-lg-1 {
    left: 8.33333%;
  }
  .push-lg-2 {
    left: 16.66667%;
  }
  .push-lg-3 {
    left: 25%;
  }
  .push-lg-4 {
    left: 33.33333%;
  }
  .push-lg-5 {
    left: 41.66667%;
  }
  .push-lg-6 {
    left: 50%;
  }
  .push-lg-7 {
    left: 58.33333%;
  }
  .push-lg-8 {
    left: 66.66667%;
  }
  .push-lg-9 {
    left: 75%;
  }
  .push-lg-10 {
    left: 83.33333%;
  }
  .push-lg-11 {
    left: 91.66667%;
  }
  .push-lg-12 {
    left: 100%;
  }
  .pull-lg-1 {
    right: 8.33333%;
  }
  .pull-lg-2 {
    right: 16.66667%;
  }
  .pull-lg-3 {
    right: 25%;
  }
  .pull-lg-4 {
    right: 33.33333%;
  }
  .pull-lg-5 {
    right: 41.66667%;
  }
  .pull-lg-6 {
    right: 50%;
  }
  .pull-lg-7 {
    right: 58.33333%;
  }
  .pull-lg-8 {
    right: 66.66667%;
  }
  .pull-lg-9 {
    right: 75%;
  }
  .pull-lg-10 {
    right: 83.33333%;
  }
  .pull-lg-11 {
    right: 91.66667%;
  }
  .pull-lg-12 {
    right: 100%;
  }
  .offset-lg-1 {
    margin-left: 8.33333%;
  }
  .offset-lg-2 {
    margin-left: 16.66667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.33333%;
  }
  .offset-lg-5 {
    margin-left: 41.66667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.33333%;
  }
  .offset-lg-8 {
    margin-left: 66.66667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.33333%;
  }
  .offset-lg-11 {
    margin-left: 91.66667%;
  }
  .offset-lg-12 {
    margin-left: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .block-grid-lg-1 > li,
  .block-grid-lg-1 > .block-item {
    width: 100%;
    list-style: none;
    clear: none;
  }
  .block-grid-lg-1 > li:nth-child(1n + 1),
  .block-grid-lg-1 > .block-item:nth-child(1n + 1) {
    clear: both;
  }
  .block-grid-lg-2 > li,
  .block-grid-lg-2 > .block-item {
    width: 50%;
    list-style: none;
    clear: none;
  }
  .block-grid-lg-2 > li:nth-child(2n + 1),
  .block-grid-lg-2 > .block-item:nth-child(2n + 1) {
    clear: both;
  }
  .block-grid-lg-3 > li,
  .block-grid-lg-3 > .block-item {
    width: 33.33333%;
    list-style: none;
    clear: none;
  }
  .block-grid-lg-3 > li:nth-child(3n + 1),
  .block-grid-lg-3 > .block-item:nth-child(3n + 1) {
    clear: both;
  }
  .block-grid-lg-4 > li,
  .block-grid-lg-4 > .block-item {
    width: 25%;
    list-style: none;
    clear: none;
  }
  .block-grid-lg-4 > li:nth-child(4n + 1),
  .block-grid-lg-4 > .block-item:nth-child(4n + 1) {
    clear: both;
  }
  .block-grid-lg-5 > li,
  .block-grid-lg-5 > .block-item {
    width: 20%;
    list-style: none;
    clear: none;
  }
  .block-grid-lg-5 > li:nth-child(5n + 1),
  .block-grid-lg-5 > .block-item:nth-child(5n + 1) {
    clear: both;
  }
  .block-grid-lg-6 > li,
  .block-grid-lg-6 > .block-item {
    width: 16.66667%;
    list-style: none;
    clear: none;
  }
  .block-grid-lg-6 > li:nth-child(6n + 1),
  .block-grid-lg-6 > .block-item:nth-child(6n + 1) {
    clear: both;
  }
  .block-grid-lg-7 > li,
  .block-grid-lg-7 > .block-item {
    width: 14.28571%;
    list-style: none;
    clear: none;
  }
  .block-grid-lg-7 > li:nth-child(7n + 1),
  .block-grid-lg-7 > .block-item:nth-child(7n + 1) {
    clear: both;
  }
  .block-grid-lg-8 > li,
  .block-grid-lg-8 > .block-item {
    width: 12.5%;
    list-style: none;
    clear: none;
  }
  .block-grid-lg-8 > li:nth-child(8n + 1),
  .block-grid-lg-8 > .block-item:nth-child(8n + 1) {
    clear: both;
  }
  .block-grid-lg-9 > li,
  .block-grid-lg-9 > .block-item {
    width: 11.11111%;
    list-style: none;
    clear: none;
  }
  .block-grid-lg-9 > li:nth-child(9n + 1),
  .block-grid-lg-9 > .block-item:nth-child(9n + 1) {
    clear: both;
  }
  .block-grid-lg-10 > li,
  .block-grid-lg-10 > .block-item {
    width: 10%;
    list-style: none;
    clear: none;
  }
  .block-grid-lg-10 > li:nth-child(10n + 1),
  .block-grid-lg-10 > .block-item:nth-child(10n + 1) {
    clear: both;
  }
  .block-grid-lg-11 > li,
  .block-grid-lg-11 > .block-item {
    width: 9.09091%;
    list-style: none;
    clear: none;
  }
  .block-grid-lg-11 > li:nth-child(11n + 1),
  .block-grid-lg-11 > .block-item:nth-child(11n + 1) {
    clear: both;
  }
  .block-grid-lg-12 > li,
  .block-grid-lg-12 > .block-item {
    width: 8.33333%;
    list-style: none;
    clear: none;
  }
  .block-grid-lg-12 > li:nth-child(12n + 1),
  .block-grid-lg-12 > .block-item:nth-child(12n + 1) {
    clear: both;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-responsive {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 992px) {
  .flex-responsive {
    flex-direction: row;
  }
}

.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.flex-col-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.flex-responsive-reverse {
  display: flex;
  flex-direction: column-reverse;
}

@media only screen and (min-width: 992px) {
  .flex-responsive-reverse {
    flex-direction: row-reverse;
  }
}

.flex-sa {
  justify-content: space-around;
  align-items: center;
}

.flex-sb {
  justify-content: space-between;
  align-items: center;
}

.flex-baseline {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

html, body, ul, ol, h1, h2, h3, h4, h5, h6, p, a, span {
  padding: 0;
  margin: 0;
}

html, body {
  font-size: 13px;
}

@media only screen and (min-width: 768px) {
  html, body {
    font-size: 14px;
  }
}

@media only screen and (min-width: 992px) {
  html, body {
    font-size: 16px;
  }
}

ul {
  list-style-type: none;
}

h1 {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.45;
  letter-spacing: 0.45px;
}

h2 {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 1.4;
  letter-spacing: 0.45px;
}

h3 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 1.4;
  letter-spacing: 0.7px;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 2.05rem;
  font-line-height: 1.3;
}

h5 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 1.4px;
}

p, span {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 1.15px;
}

.switch-view {
  color: orange;
  cursor: pointer;
}

.portfolio-links a {
  margin-top: 15px;
  margin-bottom: 15px;
}

main {
  background: darkgray;
}

.red {
  background: red;
  height: 20px;
}

p + p {
  margin-top: 10px;
}
