@media (max-width: 406px){
    ul.teamnav li{
        font-size: 3.5vw;
    }
}

@media (max-width: 450px){
    .headerleft > label,
    nav.mobile > label{
        position: relative;
        top: -30px;
        left: -15px;
    }
}

@media (max-width: 560px){
    .iconlist-wide > li{
        margin-left: 0;
    }
    
    .iconlist-wide > li img{
        display: block;
        position: relative;
        margin: 0 auto;
        width: 153px;
    }
}

@media (max-width: 540px){
    header .headerbottom{
        display: none;
    }
    
    header.innerHeader nav.mobile{
    display: block;
}
    
    header + nav{
        display: none;
    }
    
    .headerbottom .justify img{
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 557px){
    ul.iconlist li{
        margin-left: 0;
    }
    
    ul.iconlist li img{
        margin: 0 auto 10px;
        left: 0;
        display: block;
        position: relative;
    }
    
    ul.iconlist li{
        text-align: center;
    }
    
    ul.jobs li{
        text-align: left !important;
    }
    
    ul.iconlist-wide li{
        margin-left: 0;
    }
    
    ul.iconlist-wide li img{
        margin: 0 auto 10px;
        left: 0;
        display: block;
        position: relative;
    }
}

@media (max-width: 570px){
    ul.teamnav{
        border: 0;
        border-bottom: 1px solid #b5b5b5;
        width: 100%;
        text-align: justify;
    }
    
    ul.teamnav:after{
        content: '';
        display: inline-block;
        height: 1px;
        width: 100%;
    }
    
    ul.teamnav li,
    ul.teamnav li:active,
    ul.teamnav li:hover{
        display: inline-block;
        border: 0 !important;
        margin: 0;
        padding: 10px;
    }
    
}

@media (max-width: 600px){
    .headerright{
        display: none;
    }
    
    ul li.staffmenuitem,
    nav.mobile ul li.staffmenuitem{
        display: block;
    }
}

@media (max-width: 640px){
    nav.mobile ul{
        position: relative;
        top: 0;
        left: 0;
    }
    
    nav.mobile ul li{
        display: block;
        width: 100%;
    }
    
    nav.mobile ul li a{
        height: 100%;
        width: 100%;
    }
}

@media (max-width: 740px){
    ul.jobs li{
        position: relative;
        padding-bottom: 50px !important;
    }
    
    ul.jobs li .green{
        position: absolute;
        bottom: 0;
    }
    
    .button.green{
        margin-left: 0;
        display: block;
        float: none !important;
    }
    
    .headerbottom{
        display: none;
    }
}

@media (max-width: 840px){
    .headerbottom .justify img.tricare{
        display: none;
    }
}

@media (min-width: 525px) and (max-width: 847px){
    .homeHeader br.secret{
        display: block !important;
    }
}

@media (max-width: 860px){
    .six.right{
        margin: 0 auto;
        text-align: center;
    }
    
    footer ul li h4{
        margin-top: 20px;
    }
    
    footer .lightgrey ul{
        text-align: left;
        width: 200px;
    }
    
    .three{
        padding: 30px 10px !important;
    }
}

@media (max-width: 960px){
    .headerright{right: 30px;}
    .headerleft{left: 30px;}
    #gmap{height: 90vh;}
}